<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-primary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>

<ul class="list-group" *ngIf="dataLoaded != false">
  <li class="list-group-item" style="text-align: center">
    <h4>Kategoriler</h4>
  </li>

  <li
    style="cursor: pointer"
    (click)="setCurrentCategory(category)"
    [class]="getCurrentCategoryClass(category)"
    *ngFor="let category of categories"
  >
    {{ category.categoryName }}
  </li>
</ul>
