<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-primary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>
<br />
<ul class="list-group" *ngIf="dataLoaded != false">
  <li class="list-group-item" style="text-align: center">
    <h4>Kategoriler</h4>
  </li>
  <li
    routerLink="/products"
    [class]="getAllCategoryClass()"
    (click)="CleanCurrentCategory()"
  >
    Tüm Ürünler
  </li>
  <li
    (click)="setCurrentCategory(category)"
    routerLink="/products/category/{{ category.categoryId }}"
    *ngFor="let category of categories"
    [class]="getCurrentCategoryClass(category)"
  >
    {{ category.categoryName }}
  </li>
</ul>
